.item {
    width: 350px;
    transition: 0.5s;
    cursor: pointer;
    padding: 15px;
}
.item:hover{
    transform: scale(1.05);
}
.product-detail{
    padding:5px 15px 5px 0;
}
.prices{
    display: flex;
    gap: 15px;
    padding: 0;
}
.new-price{
    font-weight: 600;
}
.old-price{
    text-decoration: line-through;
    color: gray;
}
